* {
  margin: 0;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  padding: 1em;
}

h1 {
  color: #90caf9;
  font-family: 'Belleza', sans-serif;
  font-weight: normal;
  text-align: center;
}
